h2
  span#unexpensed_total.sum= number_to_currency @receipts.unexpensed.sum(:total)
  '  ready to expense

#act
  ul
    li= link_to "create expense report", dashboard_unexpensed_path

#add_receipt
  = link_to "New Receipt", new_receipt_path, :id => "create_receipt_link"

  #receipt_form style="display:none"
    == render "receipts/form"

section#recent_receipts
  h3.center Recent Receipts
  br
  == grid_for(@receipts.recent, { :shows_expense_status => true } )
br
br
section#recent_expense_reports
  h3.center Recent Expense Reports
  br
  br
  table#recent_expense_reports.summary_table
      th Date
      th Identifier
      th Receipts
      th Total
      == render :partial => 'expense_reports/report', :collection => @reports
