<table id="recent_receipts">
  <tr>
    <th>Purchase date</th>
    <th>Store</th>
    <th>Total</th>
  </tr>

<%= render :partial => 'receipts/receipt', 
           :collection => @receipts, 
           :locals => {:expensed => false, :expensable => false} %>
</table>