<h2>Expense Report <%= @report.external_report_id %></h2>

<%= render :partial => 'receipts/receipt_table', 
           :locals => { :receipts => @report.receipts,
                        :expensable => false,
                        :expensed => false } %>