body, p, a, ul, ol, li, table, tr, td, h1, h2, h3, h4, h5 {
	margin:0;
	padding:0;
}

body {
	background:white;
}

#outer_container {
	margin:0 auto;
	width:1024px;
}

#user_bar {
	border-bottom:solid gray 1px;
	height:36px;
	width:inherit;
}

#content_container {
	border-bottom:solid gray 1px;
	border-left:solid gray 1px;
	border-right:solid gray 1px;
	margin:0 auto;
	width:888px;
}

#recent_receipts {
	margin:0 auto;
}

#add_receipt {
	text-align:center;
}