body, p, a, ul, ol, li, table, tr, th, td, h1, h2, h3, h4, h5, fieldset {
  border:none;
	margin:0;
	padding:0;
}

body {
	background:white;
	font-family:Tahoma,Arial,Sans-Serif;
	font-size:small;
}

a {
	font-weight:bold;
	text-decoration:none;
}

#outer_container {
	margin:0 auto;
	max-width:1024px;
}

#user_bar {
	border-bottom:solid gray 1px;
	height:36px;
	width:inherit;
}

#user_bar #logo {
	float:left;
	width:300px;
	padding-left:0.5em;
}

#user_bar #links {
	float:right;
	padding-right:0.5em;
}

#content_container {
	border-bottom:solid gray 1px;
	border-left:solid gray 1px;
	border-right:solid gray 1px;
	margin:0 4em;
	padding:2em;
	max-width:888px;
	min-height:600px;
}

#add_receipt {
	padding-bottom:2em;
	padding-top:1em;
	text-align:center;
}

/* RECEIPTS */
#receipt_fields {
  margin-left:auto;
  margin-right:auto;
  width:545px;
}

#receipt_fields_core {
  width:230px;
  float:left;
}

#receipt_fields_metadata {
  width:310px;
  float:left;
}

/* RECEIPTS TABLE */
.summary_table {
  margin:0 auto;
}

.summary_table tr th {
	border-bottom:dotted gray 1px;
}

#recent_receipts td,th {
	padding-left:1em;
	padding-right:1em;
}

/** STAT BOX **/
#expense_stats {
  width:400px;/* needs a better way than roughly 2.5* .stat_box */
}

#expense_report_stats {
  width:260px;
}

.stat_container {
	margin-bottom:7em;
	margin-left: auto;
	margin-right: auto;
	margin-top:1em;
	text-align:center;
}

.stat_box {
	border:1px solid green;
	float:left;
	padding:1em;
	width:100px;
}

#spending_total {
	color:red;
}

#unexpensed_total {
	font-size:large;
	color:green;
}

.sum, .count {
	font-weight:bold;
}

/** UTILITIES **/
.clearer {
	clear:both;
}

.center {
  text-align:center;
}

.right {
  text-align:right;
}

.center_object {
  margin-left:auto;
  margin-right:auto;
}

/** LOGIN FORM **/
#login_form ol li {
  display:block;
  list-style:none;
}
#login_form {
  border:2px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  margin:0 auto;
  text-align:center;
  width:350px;
  padding:2em 0;
}

#login_form input[type=text], #login_form input[type=password] {
  font-size:14pt;
  margin:1em auto 0 auto;
  text-align:center;
}

#login_form input[type=submit], #login_form input[type=checkbox] {
  width:100px;
  padding:6px 0;
}

/* alert, notice */
#alert {
  background: #FFF5AA;
  border: 1px solid black;
  margin-bottom: 10px;
  padding:10px;
}

#notice {
  background: #E1FF9D;
  border: 1px solid black;
  margin-bottom: 10px;
  padding:10px;
}