- if @receipt.errors.any?
  #error_explanation
    h2
      = pluralize(@receipt.errors.count, "error")
      ' prohibited this receipt from being saved:
    ul
      - @receipt.errors.full_messages.each do |msg|
        li= msg

= form_for(@receipt, :html => {:multipart => true}) do |f|
  #receipt_fields
    #receipt_fields_core
      .field
        = f.label :store_name, "Store Name"
        br
        = f.text_field :store_name, :placeholder => 'Store Name'
      #receipt_purchase_date_line.field
        = f.label :purchase_date, "Purchased On"
        br
        = f.text_field :purchase_date, :placeholder => 'Purchased On', :size => 11
      #ficticious_line_items
      #receipt_total_line.field
        strong= f.label :total
        = f.text_field :total, :placeholder => 'Total', :size => 10
    #receipt_fields_metadata
      br
      .field
        = f.label :expensable, 'Expensable?'
        = f.check_box :expensable
        = f.label :expensed, 'Expensed?'
        = f.check_box :expensed
      .field
        h3 Guests
        - unless current_user.participants.empty?
          table.center_object
            - participants = current_user.participants.select { |p| p.display? }
            - participants.each_with_index do |participant, i|
              - names = @receipt.participants.collect{ |n| n.name }
              - if i % 2 == 0
                tr
              td
                = check_box_tag "old_participants[#{i}]", \
                  participant.name, \
                  names.include?(participant.name), \
                  {:name => "old_participants[]"}
                ' 
                = label_tag "old_participants[#{i}]", participant.name
        p.right
          strong Add Guest(s)
          = text_field_tag :participant_names, nil, :placeholder => 'Art Vandelay, SG Hill'
      .field.right
        strong= f.label :note
        = f.text_field :note, :placeholder => 'breakfast, cell phone'
    .actions.clearer= f.submit