<table id="recent_receipts" class="summary_table">
  <tr>
    <th>Date</th>
    <th>Store</th>
    <th>Total</th>
    <%= "<th>Expensable?</th>".html_safe if expensable %>
    <%= "<th>Expensed?</th>".html_safe if expensed %>
  </tr>

<%= render :partial => 'receipts/receipt', 
           :collection => receipts, 
           :locals => { :expensable => expensable, 
                        :expensed => expensed } %>
</table>