<div id="add_receipt">
  <%= link_to 'New Receipt', new_receipt_path, :id => 'create_receipt_link' %>

  <div id="receipt_form" style="display:none">
    <%= render 'form' %>
  </div>
</div>

<%= render :partial => 'receipt_table', 
           :locals => { :receipts => @receipts, 
                        :expensable => true, 
                        :expensed => true } %>